body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  animation-name:changeColor;
  animation-duration:10s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;
}

h1 {
  font-size: 2.25em;
  margin-top: 50px;
  font-weight: 900;
}

.board svg {
  background-color: #F9EDCC;
  border-radius: 10px;
}

.scoreboard {
  margin-bottom: 37px;
}

.block {
  font-size: 1.5em;
}

.score {
  color: white;
}

.c {
  background-color: #ff9999 !important;
}

@keyframes changeColor {
  0%   {background: #16a085; left:0px; top:0px;}
  25%  {background: #1abc9c; left:0px; top:0px;}
  50%  {background: #9b59b6; left:0px; top:0px;}
  75%  {background: #8e44ad; left:0px; top:0px;}
  100% {background: #16a085; left:0px; top:0px;}
}
